replicaCount: 2

image:
  repository: aadan1lov/muffin-currency
  tag: "1.0.0"
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 8083
  targetPort: 8080

ingress:
  enabled: true
  className: nginx
  hosts:
    - host: muffin.local
      paths:
        - path: /
          pathType: Prefix

containerPort: 8080

livenessProbe:
  httpGet:
    path: /rate?from=PLAIN&to=CHOKOLATE
    port: 8080
  initialDelaySeconds: 5
  periodSeconds: 10

readinessProbe:
  httpGet:
    path: /rate?from=muffin.local&to=CHOKOLATE
    port: 8080
  initialDelaySeconds: 2
  periodSeconds: 5

resources: {}
  # limits:
  #   cpu: 100m
  #   memory: 128Mi
  # requests:
  #   cpu: 100m
  #   memory: 128Mi

nodeSelector: {}

tolerations: []

affinity: {}